body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
#high-score {
    color: orange;
    font-size: 50px;
    margin: 0 0 0 40px;
    font-weight: bolder;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
}
#high-score-holder > div:first-child {
    color: aqua;
    margin: 20px 0 0 15px;
    font-size: 15px;
}
#high-score-holder {
    display: table-cell;
    border-radius: 50%;
    background-color: rgb(4, 28, 167);
    border: 10px solid rgb(12, 151, 175);
    width: 100px;
    height: 100px;
}
#playB {
    border-color: rgb(231, 54, 54);
    color: white;
    background-color: rgb(245, 55, 86);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;
}
#free-play{
    position: absolute;
    right: 0;
    top: 0;
    border-color: rgb(12, 151, 175);
    border-width: 10px;
    color: white;
    background-color: rgb(4, 28, 167);
    width: 210px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
    margin: 30px;
    font-family: 'Varela Round', sans-serif;
}
.container {
    position: relative;
}
h2 {
    color: rgb(235, 75, 75);
    display: flex;
    justify-content: center;
    height: 15vh;
    font-size: 6vh;
    align-items: center;
    grid-area: s0;
    z-index: 6;
}
.fret-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "s0 s0 s0"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5";
    margin-left: 0;
}

#s0 {
    grid-area: s0;
    background: red;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
#s1 {
    grid-area: s1;
    background: orange;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
#s2 {
    grid-area: s2;
    background: yellow;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
#s3 {
    grid-area: s3;
    background: blue;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
#s4 {
    grid-area: s4;
    background: green;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
#s5 {
    grid-area: s5;
    background: indigo;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
.string-continue0 {
    grid-area: string-continue0;
    background: red;
    height: 1vh;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.string-continue1 {
    grid-area: string-continue1;
    background: orange;
    height: 1vh;
    width: 8vw;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.string-continue2 {
    grid-area: string-continue2;
    background: yellow;
    height: 1vh;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.string-continue3 {
    grid-area: string-continue3;
    background: blue;
    height: 1vh;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.string-continue4 {
    grid-area: string-continue4;
    background: green;
    height: 1vh;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.string-continue5 {
    grid-area: string-continue5;
    background: indigo;
    height: 1vh;
    margin: 2vh 0 0 -0.5vh;
    z-index: 6;
}
.gbody {
    position: absolute;
    top: 3vh;
    z-index: -4;
    background: rgb(194, 149, 83);
    width: 20vw;
    height: 80vh;
    border-radius: 0 30% 30% 0;
    box-shadow: 10px 1px rgb(88, 48, 10);
    margin: 0;
}
.ghole {
    position: absolute;
    left: -7vw;
    z-index: -3;
    background: rgb(87, 51, 21);
    border-color: black;
    border: solid;
    width: 12.5vw;
    height: 30vh;
    border-radius: 50%;
}
.gstructuretop {
    position: absolute;
    top: -11vh;
    left: -14vh;
    z-index: -1;
    background: aqua;
    width: 17vw;
    height: 18vh;
    rotate: 20deg;
    border-radius: 35% 35% 35% 0;
}
.gstructurebottom {
    position: absolute;
    top: 80vh;
    left: -14vh;
    z-index: 3;
    background: aqua;
    width: 17vw;
    height: 18vh;
    rotate: -20deg;
    border-radius: 35% 35% 35% 0;
}
.gneck {
    position: absolute;
    top: 27vh;
    z-index: 1;
    background: rgb(194, 149, 83);
    width: 100vw;
    height: 30vh;
    border-right-color: brown;
}
.ghead {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "string-continue0 string-continue0 string-continue0"
    "string-continue1 string-continue1 string-continue1"
    "string-continue2 string-continue2 string-continue2"
    "string-continue3 string-continue3 string-continue3"
    "string-continue4 string-continue4 string-continue4"
    "string-continue5 string-continue5 string-continue5";
    position: absolute;
    right: 0px;
    z-index: 5;
    background: black;
    width: 2vw;
    height: 30vh;
    border-left-color: brown;
    border-left-style: solid;
}
#s0.comp-choice, #s1.comp-choice, #s2.comp-choice, #s3.comp-choice, #s4.comp-choice, #s5.comp-choice {
transform: scale(4);
opacity: 60%;
}
#s0.p-choice, #s1.p-choice, #s2.p-choice, #s3.p-choice, #s4.p-choice, #s5.p-choice {
transform: scale(4);
opacity: 60%;
}
#s0.pick:hover, #s1.pick:hover, #s2.pick:hover, #s3.pick:hover, #s4.pick:hover, #s5.pick:hover {
transform: scale(3);
cursor: pointer;
}
