html {
    width: 100vw;
}
body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

button {
    border-color: rgb(231, 54, 54);
    color: white;
    background-color: rgb(245, 55, 86);
    width: 15vw;
    height: 8vh;
    border-radius: 50%;
    font-size: 2.0vh;
}
.container {
    position: relative;
}

.fret-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "s0 s0 s0"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "s5 s5 s5";
    margin-left: 0;

}

#s0 {
    grid-area: s0;
    background: red;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 12;
}
#s1 {
    grid-area: s1;
    background: orange;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 0;
}
#s2 {
    grid-area: s2;
    background: yellow;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 0;
}
#s3 {
    grid-area: s3;
    background: blue;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 0;
}
#s4 {
    grid-area: s4;
    background: green;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 0;
}
#s5 {
    grid-area: s5;
    background: indigo;
    color: red;
    width: 100vw;
    height: 1vh;
    margin: 2vh 0;
    z-index: 1;
}
.gbody {
    position: absolute;
    top: 10vh;
    z-index: -4;
    background: rgb(194, 149, 83);
    width: 20vw;
    height: 80vh;
    border-radius: 0 30% 30% 0;
    box-shadow: 10px 1px darkgrey;
}
.ghole {
    position: absolute;
    left: -7vw;
    z-index: -3;
    background: black;
    width: 12.5vw;
    height: 30vh;
    border-radius: 50%;
}
.gstructuretop {
    position: absolute;
    top: -4vh;
    left: -14vh;
    z-index: -1;
    background: aqua;
    width: 17vw;
    height: 18vh;
    rotate: 20deg;
    border-radius: 35% 35% 35% 0;
}
.gstructurebottom {
    position: absolute;
    top: 86vh;
    left: -14vh;
    z-index: 3;
    background: aqua;
    width: 17vw;
    height: 18vh;
    rotate: -20deg;
    border-radius: 35% 35% 35% 0;
}
.gneck {
    position: absolute;
    top: 32.5vh;
    z-index: 3;
    background: rgb(194, 149, 83);
    width: 100vw;
    height: 30vh;
}
.ghead {
    position: absolute;
    /* top: 32.5vh; */
    right: 0px;
    z-index: -1;
    background: black;
    width: 8vw;
    height: 30vh;
}
#s0.comp-choice, #s1.comp-choice, #s2.comp-choice, #s3.comp-choice, #s4.comp-choice, #s5.comp-choice {
transform: scale(3);
}
#s0.p-choice, #s1.p-choice, #s2.p-choice, #s3.p-choice, #s4.p-choice, #s5.p-choice {
transform: scale(3);
}
#s0.pick:hover, #s1.pick:hover, #s2.pick:hover, #s3.pick:hover, #s4.pick:hover, #s5.pick:hover {
transform: scale(3);
}
